@import '../variables';

.card {
    background: linear-gradient(180deg, #{$gray-dark} 0%, #{darken($gray-medium, 1.5%)} 98.9%);
    margin: $grid-gutter-width-base 0;
    padding: 30px;
    text-align: center;
}

.card-title {
    margin: 24px 0 10px;
}

.card-subtitle {
    margin-bottom: 24px;
}

.card-text {
    color: $gray-light;
    font-size: $font-size-sm;
}