@import '../variables';

.card {
    text-align: center;

    &-icon {
        font-size: 24px;

        &--account { color: $green; }
        &--crown { color: $yellow; }
        &--skull { color: $red; }
        &--ghost { color: $gray-ghost; }
    }

    &-text {
        color: $gray-light;
        font-size: $font-size-sm;
    }

    &-title {
        margin: 24px 0 10px;
        white-space: nowrap;
    }

    &-subtitle {
        margin-bottom: 24px;
    }
}