@import '../variables';

.card {
    text-align: center;
}

.card-title {
    margin: 24px 0 10px;
}

.card-subtitle {
    margin-bottom: 24px;
}

.card-text {
    color: $gray-light;
    font-size: $font-size-sm;
}