@import '../variables';

:host {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav {
    flex: 1;
    margin-top: 2em;
}

.nav-item {
    margin-left: calc(-#{$grid-gutter-width-base} / 2);
}

.nav-link {
    &.active {
        border-left: 5px solid $brand-primary;
    }

    &.active,
    &:hover {
        background: linear-gradient(90deg, rgba(242, 242, 242, 0.1) 0%, rgba(242, 242, 242, 0) 100%)
    }
}

.side-nav__footer {
    color: $gray-light;
    padding: 30px 10px;
    white-space: nowrap;

    .mdi-heart,
    .steemit-icon {
        margin: 0 3px;
    }

    .mdi-heart {
        color: $red;
        vertical-align: middle;
    }
}