<app-user-info [user]="user" *ngIf="user"></app-user-info>

<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['/', '@' + user.name]"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['/', '@' + user.name, 'followers']"
           routerLinkActive="active">Followers</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/', '@' + user.name, 'upvotes']"
           class="nav-link"
           routerLinkActive="active">Upvotes</a>
    </li>
</ul>

<footer class="side-nav__footer">
    Made with <i class="mdi mdi-heart"></i> and <img src="assets/steemit.svg" height="14px" width="14px" class="steemit-icon"><br>
    by <a href="https://steemit.com/@pilcrow" target="_blank">@pilcrow</a>
    and <a href="https://steemit.com/@sjennon" target="_blank">@sjennon</a>
</footer>