<app-user-info [user]="user" *ngIf="user"></app-user-info>

<ul class="nav flex-column">
    <li class="nav-item">
        <a [routerLink]="['/', '@' + user.name]" class="nav-link" routerLinkActive="active">Dashboard</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/', '@' + user.name, 'followers']" class="nav-link">Followers</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/', '@' + user.name, 'upvotes']" routerLinkActive="active" class="nav-link">Upvotes</a>
    </li>
</ul>