<!-- app-header -->
<header class="navbar navbar-toggleable-sm navbar-inverse bg-inverse row">
  <a href="#" class="navbar-brand col-sm-6">Binoculars for Steemit</a>

  <div class="navbar-collapse col-sm-6">
    <app-find-user (user)="onUserSelect($event)"></app-find-user>
  </div>
</header>

<div class="container-fluid full-height-container">
  <div class="row full-height-row">

    <aside class="col-md-3 sidebar">
      <app-side-nav [user]="user"></app-side-nav>
    </aside>

    <main class="col-md-9">
      <router-outlet *ngIf="ready"></router-outlet>
    </main>
  </div>

</div>