@import '../variables';

main {
    padding-top: $grid-gutter-width-base;
}

.navbar-brand {
    color: $gray-light;

    &:hover {
        color: $yellow-light;
    }

    img {
        margin-left: 1em;
        margin-right: .5em;
        vertical-align: text-bottom;
    }

    span {
        color: white;
        text-transform: uppercase;
    }
}