@import '../variables';

.user-info {
    text-align: center;

    &__picture {
        background-size: contain;
        border-radius: 100px;
        height: 100px;
        margin: 20px auto;
        width: 100px;
    }

    &__reputation {
        color: $gray-light;
        font-weight: 300;
    }
}