<div class="user-info">
    <div [style.background-image]="getPictureUrl()" class="user-info__picture"></div>

    <span class="user-info__name">
        <span [innerHTML]="user.name | userLink"></span>
        <span class="user-info__reputation">({{user.reputation | reputation:1}})</span>
    </span>

    <span class="user-info__steempower">
        {{user.vesting_shares | steemPower}}
    </span>

    <progress class="user-info__voting-power-bar"
              value="{{user.voting_power}}"
              max="10000">
    </progress>
    <span class="user-info__voting-power">
        {{user.voting_power / 100}}% voting power
    </span>
</div>