@import '../variables';

.user-info {
    text-align: center;

    &__picture {
        background: center center no-repeat;
        background-size: cover;
        border-radius: 100px;
        height: 100px;
        margin: 20px auto;
        width: 100px;
    }

    &__reputation {
        color: $gray-light;
        font-weight: 300;
    }

    &__steempower {
        color: $gray-light;
        display: block;
        font-size: $font-size-sm;
        line-height: 2;
    }
}