// Colors
$body-bg: #424242;
$body-color: white;

$blue: #03A9F4;
$green: #8bc34a;
$lime: #cddc39;
$red: #FC4C02;

$gray-dark: #333333;
$gray-medium: #424242;
$gray-light: #9e9e9e;

$brand-primary: $lime;

$link-color: white;

// Fonts
$font-family-sans-serif: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

// Grid
$grid-gutter-width-base: 20px;

// *** Components *** //

// Card
$card-background: linear-gradient(180deg, #{$gray-dark} 0%, #{darken($gray-medium, 1.5%)} 98.9%);
$card-border-radius: 0;
$card-border-width: 0;

// Header
$header-height: 100px;

// Input
$input-bg: transparent;
$input-border-color: $gray-medium;
$input-color: $body-color;

$input-group-addon-bg: transparent;
$input-group-addon-border-color: transparent;

// Nav
$nav-link-padding: 2em 3em;

// Table
$table-cell-padding: 1.5em;
$table-border-color: $gray-medium;

@import '~bootstrap/scss/variables';
