$body-bg: #424242;
$body-color: white;

$font-family-sans-serif: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$gray-dark: #333333;
$gray-light: #757575;

$link-color: white;

$header-height: 100px;