<!-- app-header -->
<header class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse row">
    <a href="#" class="navbar-brand col-md-6">Binoculars for Steemit</a>

    <div class="navbar-collapse col-md-6">
        <app-find-user (user)="onUserSelect($event)"></app-find-user>
    </div>
</header>

<div class="container-fluid full-height-container">
    <div class="row full-height-row">
        <!-- app-sidebar -->
        <aside class="col-md-3 sidebar">
            <app-user-info [user]="user" *ngIf="user"></app-user-info>

            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </aside>

        <div class="col-md-9">
            <!-- route-routlet? -->
            <main>
                <!-- app-dashboard -->
                <h1>Dashboard goes here</h1>

                <button (click)="show = !show">toggle</button>

                <div *ngIf="show">
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                </div>
            </main>
            <pre *ngIf="error">{{error}}</pre>
        </div>
    </div>

</div>