<div class="row">
    <div class="col-md-4">
        <app-card [icon]="'account'"
                  [iconColor]="'green'"
                  [value]="followCount.follower_count"
                  [title]="'followers'"
                  [description]="'Your Steemit fans'"
                  [ready]="followCount.account">
        </app-card>
    </div>
    <div class="col-md-4">
        <app-card [icon]="'account'"
                  [iconColor]="'green'"
                  [value]="followCount.following_count"
                  [title]="'following'"
                  [description]="'Your role models'"
                  [ready]="followCount.account">
        </app-card>
    </div>
    <div class="col-md-4">
        <app-card [icon]="'crown'"
                  [iconColor]="'yellow'"
                  [value]="followers.length ? '@' + followers[0].follower : ''"
                  [title]="'most loyal'"
                  [description]="'Every ' + (followers[0] || {}).frequency + ' post'"
                  [ready]="followers[0]">
        </app-card>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!--<app-upvote-chart></app-upvote-chart>-->
    </div>
</div>


<div class="row">
    <div class="col-12">
        <h2>Most Loyal Followers</h2>

        <div class="block table-wrapper">
            <table class="table most-loyal">
                <tr>
                    <th>Name</th>
                    <th>Upvotes</th>
                    <th>Comments</th>
                    <th>Interaction Frequency</th>
                    <th>Avg $ upvote</th>
                    <th>Total $ received</th>
                </tr>
                <tr *ngFor="let follower of followers">
                    <td>@{{follower.follower}}</td>
                    <td>{{follower.upvotes}}</td>
                    <td>{{follower.comments}}</td>
                    <td>{{follower.frequency}}</td>
                    <td>${{follower.avgReward | reward}}</td>
                    <td>${{follower.reward | reward}}</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>
