<div class="row">
    <div class="col-md-4">
        <app-card [icon]="person"
                  [value]="user.id"
                  [title]="'followers'"
                  [description]="'Your Steemit fans'">
        </app-card>
    </div>
    <div class="col-md-4">
        <app-card [icon]="person"
                  [value]="user.id"
                  [title]="'followers'"
                  [description]="'Your Steemit fans'">
        </app-card>
    </div>
    <div class="col-md-4">
        <app-card [icon]="person"
                  [value]="user.id"
                  [title]="'followers'"
                  [description]="'Your Steemit fans'">
        </app-card>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>Dashboard goes here</h1>

        {{user.id}}

        <button (click)="show = !show">toggle</button>

        <div *ngIf="show">
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <p>content</p>
        </div>


    </div>
</div>
