<div class="row">
    <div class="col-md-4">
        <app-card [icon]="'account'"
                  [iconColor]="'green'"
                  [value]="followCount.follower_count"
                  [title]="'followers'"
                  [description]="'Your Steemit fans'"
                  [ready]="followCount.account">
        </app-card>
    </div>
    <div class="col-md-4">
        <app-card [icon]="'account'"
                  [iconColor]="'green'"
                  [value]="followCount.following_count"
                  [title]="'following'"
                  [description]="'Your role models'"
                  [ready]="followCount.account">
        </app-card>
    </div>
    <div class="col-md-4">
        <app-card [icon]="'crown'"
                  [iconColor]="'yellow'"
                  [value]="mostLoyal.length ? '@' + mostLoyal[0].name : ''"
                  [title]="'most loyal'"
                  [description]="'Every ' + getTopFrequency() + ' post'"
                  [ready]="mostLoyal.length">
        </app-card>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!--<app-upvote-chart></app-upvote-chart>-->
    </div>
</div>


<div class="row">
    <div class="col-12">
        <h2>Most Loyal Followers</h2>

        <div class="block table-wrapper">
            <table class="table most-loyal">
                <tr>
                    <th>Name</th>
                    <th>Upvotes</th>
                    <th>Comments</th>
                    <th>Interaction Frequency</th>
                    <th>Avg $ upvote</th>
                    <th>Total $ received</th>
                </tr>
                <tr *ngFor="let user of mostLoyal">
                    <td>@{{user.name}}</td>
                    <td>{{user.stats.upvotes}}</td>
                    <td>{{user.stats.comments}}</td>
                    <td>{{user.stats.frequency}}</td>
                    <td>${{user.stats.avgReward | reward}}</td>
                    <td>${{user.stats.reward | reward}}</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2>Most Influential Followers</h2>

        <div class="block table-wrapper">
            <table class="table most-loyal">
                <tr>
                    <th>User</th>
                    <th>SP</th>
                    <th>Interaction frequency</th>
                    <th>100% upvote value</th>
                    <th>Total $ received</th>
                    <th>Last active</th>
                </tr>
                <tr *ngFor="let user of mostInfluential">
                    <td>@{{user.name}}</td>
                    <td>{{user.stats.totalShares | steemPower}}</td>
                    <td>{{user.stats.frequency}}</td>
                    <td>${{user.stats.avgReward | reward}}</td>
                    <td>${{user.stats.reward | reward}}</td>
                    <td>{{user.stats.lastActive.substr(0, 10)}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
