@import '../../_variables';

.table-wrapper {
    padding: 0;
    margin-bottom: 2em;
    max-height: 400px;
    overflow-y: auto;
}



.table {
    margin-bottom: 0;

    td {
        white-space: nowrap;
    }

    .loading td {
        padding: 0;
    }
}

.most-loyal {
    border-left: 2px solid $blue;
}
