@import "~roboto-fontface/css/roboto/roboto-fontface.css";
@import 'app/variables';
@import '~bootstrap/scss/bootstrap';


body {
    font-size: 14px;
    padding-top: $header-height;
}

.navbar {
    height: $header-height;
}

.sidebar {
    background: linear-gradient(90deg, $gray-dark 0%, $body-bg 100%);
}

.full-height-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - #{$header-height});
}

.full-height-row {
    flex: 1;
}