@import "~roboto-fontface/css/roboto/roboto-fontface.css";
@import 'app/variables';
@import '~bootstrap/scss/bootstrap';


html {
    font-size: 14px;
}

body {
    padding-top: $header-height;
}

.block {
    background: $card-background;
    margin-top: $grid-gutter-width-base;
    padding: 30px;
}

.full-height-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - #{$header-height});
}

.full-height-row {
    flex: 1;
}

.navbar {
    height: $header-height;
}

.sidebar {
    background: linear-gradient(90deg, $gray-dark 0%, $body-bg 100%);
}
