@import "~roboto-fontface/css/roboto/roboto-fontface.css";
@import "~mdi/css/materialdesignicons.css";
@import 'app/variables';
@import '~bootstrap/scss/bootstrap';


html {
    font-size: 14px;
}


app-root:empty {
    background: url('assets/loading.svg') center center no-repeat;
    background-size: 100px;
    display: block;
    height: 100vh;
    width: 100vw;
}

.block {
    background: $card-background;
    margin-bottom: $grid-gutter-width-base;
    padding: 20px;
}

.full-height-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - #{$header-height});
}

.full-height-row {
    flex: 1;
}

.navbar {
    height: $header-height;
}

.sidebar {
    background: linear-gradient(90deg, $gray-dark 0%, $body-bg 100%);
}

.table {
    th {
        color: $gray-light;
        font-weight: normal;
    }
}

.user-link {
    text-decoration: underline;
}
